tenancy_ocid       = "ocid1.tenancy.oc1..xxxxxxxxxxxxxxxxx"
user_ocid          = "ocid1.user.oc1..xxxxxxxxxxxxxxxx"
fingerprint        = "5a:xxxxxxxxxxxxxxxx"
private_key_path   = "/home/userx/.oci/oci_api_key.pem"
region             = "us-ashburn-1"
compartment_ocid   = "ocid1.compartment.oc1..xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
ssh_public_key_path = "/home/user/.ssh/id_rsa.pub"
subnet_ocid = "ocid1.subnet.oc1.iad.ssssssssssssssssssssssssssssss"
ssh_public_key = "ssh-rsa AAAxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
